 body {
     background-color: white;
 }
 
 .swiper {
     margin-block: 40px;
     margin-inline: 20px;
     box-sizing: border-box;
     overflow: hidden;
     width: auto;
     height: auto;
 }
 
 .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #444;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }