.main--section--wrapper {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid;
    box-sizing: border-box;
    margin: 15px;
    background: salmon;
    flex-wrap: wrap;
}

.right--content {
    text-align: center;
    align-self: center;
    flex-basis: 50%;
}

.icon--h--wrapper {
    display: flex;
    gap: 20px;
}

.column--wrapper {
    margin-top: 20px;
    padding-block: 10px;
    p {
        margin-top: 0;
    }
    h2 {
        margin-block: 0;
    }
}

.img--wrapper {
    width: 30px;
    align-self: center;
    height: 30px;
}

.img--wrapper img {
    width: 100%;
    object-fit: cover;
}

.left--content--wrapper {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-inline: 30px;
    padding-block: 22px;
}

@media screen and (max-width:768px) {
    .left--content--wrapper {
        flex-basis: 100%;
        padding-inline: 10px;
    }
    .right--content {
        flex-basis: 100%;
    }
}