
/*
body{
    padding: 0;
    margin: 0;
}
.swiper{
    width: 70rem;
    margin: 0 auto;
    position: relative;
}
.swiper-wraper{
    display: flex;
aspect-ratio: 16/9;
overflow-x: auto;
border-radius: 20px;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
scrollbar-width: none;

}

.swiper img{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.nav--bar{
position: absolute;
bottom: 1.25rem;
left: 50%;
transform: translateX(-50%);
display: flex;
column-gap: 10px;
z-index: 1;
}
.nav--bar a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.nav--bar a:hover{
    opacity: 1;
}*/
 html,
    body {
      position: relative;
      height: 100vh;
    }

    body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100vh;
      padding: 30px;
      box-sizing: border-box;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }