.main--parent--wrapper {
    background-color: #DDE3E6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.sub--heading {
    margin-bottom: 5px;
    font-weight: 500;
}

.main--heading {
    margin-bottom: 30px;
    margin-top: 5px;
    font-weight: 500;
}

.columns--wrapper {
    display: flex;
    gap: 2em;
    justify-content: center;
    /* max-width: 1150px;
    margin: 0 auto; */
    margin-inline: 2em;
}

.column--card {
    padding: 0;
    flex-basis: 33%;
}

.img--wrapper {
    height: 350px;
}

.column--card img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.content--wrapper h2 {
    font-weight: 500;
}

.content--wrapper p {
    font-weight: 300;
}

hr {
    padding: 0;
    margin: 0;
    width: 1px;
    background: black;
    border-style: none;
}

@media screen and (max-width:768px) {
    .columns--wrapper {
        flex-wrap: wrap;
    }
    .column--card {
        flex-basis: 100%;
    }
    .main--heading {
        font-size: 25px;
    }
}